{% extends 'base.html' %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="..\files\assets\icon\font-awesome\css\font-awesome.min.css">
{% endblock %}

{% block page_header %}

    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Thamara Contacs</h4>
                    <span>list of contacts info for all registered companies, operators and admins</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="#"> <i class="feather icon-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item"><a href="#!">Contacts</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_body %}
    <div class="row users-card">
        {% for i in '1234' %}
            <div class="col-md-3">
                {% include 'parts/company-contact.part.html' %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
