<div class="card rounded-card user-card">
    <div class="card-block">
        <div class="img-hover">
            <img class="img-fluid img-radius" src="assets\images\companies\0{{ range(1, 9) | random }}.jpg" alt="round-img">
            <div class="img-overlay img-radius">
                <span>
                    <a href="company-dashboard.htm" class="btn btn-sm btn-primary">
                        <i class="feather icon-home"></i>
                        Preview
                    </a>
                </span>
            </div>
        </div>
        <div class="user-content">
            <h4 class="text-arabic">اسم الشركة</h4>
            <p class="m-b-0 text-muted text-arabic">فرع بيروت</p>
        </div>
        <div class="text-center list-group list-group-flush" style="line-height:1.5rem;margin-top:25px">
            <a href="#" class="text-primary list-group-item p-1 h6 ">
                <span> <i class="fa fa-phone"></i> </span>
                <span>01 555 333</span>
            </a>
            <a href="https://wa.me/96170101010" target="_blank" class=" h6 text-success list-group-item p-1">
                <span> <i class="fa fa-whatsapp"></i> </span>
                <span>70 101010</span>
            </a>
            <a href="mailto:center@example.com" target="_blank" class=" h6 text-muted list-group-item p-1">
                <span> <i class="fa fa-envelope-o"></i> </span>
                <span>center@example.com</span>
            </a>
        </div>
    </div>
</div>